<main>

<app-coachee-navbar-top></app-coachee-navbar-top>

  <div class="row">

    <app-coachee-navbar></app-coachee-navbar>

    <div class="col s10 m10">
      <div class="content-container">

        <section class="card-panel grey lighten-5">
<!--          EDIT BUTTON          -->
<!--          <div class="right">-->
<!--            <a class="waves-effect waves-light btn-large btn-floating yellow darken-2"><i-->
<!--              class="material-icons left">edit</i>Edit</a>-->
<!--          </div>-->
          <h5>Profile Information</h5>
          <div class="divider"></div>
          <div class="row">
            <div class="col l2 m2 s12">
              <img src="assets/images/user-placeholder.png" class="responsive-img circle"
                   alt="Profile Picture">
            </div>

            <div class="col l10 m12 s12">
              <table class="highlight">
                <tbody>
                <tr>
                  <td><strong>First name</strong></td>
                  <td>{{coachee?.firstName}}</td>
                </tr>
                <tr>
                  <td><strong>Last name</strong></td>
                  <td>{{coachee?.lastName}}</td>
                </tr>
                <tr>
                  <td><strong>Email</strong></td>
                  <td>{{coachee?.email}}</td>
                </tr>
                <tr>
                  <td><strong>Coachify role</strong></td>
                  <td>{{toOutputString()}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
