<div class="col s12 m2">
  <div class="content-container">
    <h6>My Coach Profile</h6>
    <div class="collection">
      <a routerLink="/coaches/{{coachId}}/profile-coach" routerLinkActive
         #rla4="routerLinkActive"
         [ngClass]="rla4.isActive ? 'black-text teal lighten-3' : 'grey-text text-darken-2'" class="collection-item">Profile Information</a>
      <a routerLink="/coaches/{{coachId}}/sessions" routerLinkActive #rla5="routerLinkActive"
         [ngClass]="rla5.isActive ? 'black-text teal lighten-3' : 'grey-text text-darken-2'" class="collection-item">Coaching sessions</a>
      <a routerLink="/coaches/{{coachId}}/profileChange" routerLinkActive
         #rla6="routerLinkActive"
         [ngClass]="rla6.isActive ? 'black-text teal lighten-3' : 'grey-text text-darken-2'" class="collection-item">Request a profile
        change</a>
    </div>
  </div>
</div>
