<div class="col s12 m2">
  <div class="content-container">
    <h6>My Profile</h6>
    <div class="collection">
<!--      <a routerLink="#!" class="collection-item grey-text text-darken-2">Profile Information</a>-->
      <a routerLink="/coaches/{{id}}}/sessions" class="collection-item black-text active teal lighten-3">Coaching sessions</a>
      <a routerLink="/coaches/{{id}}}/profileChange" class="collection-item black-text active teal lighten-3">Request a profile change</a>
    </div>
  </div>
</div>
