<header>
  <nav class="white" role="navigation">
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s1 m0 l1">
          <a href="#" data-target="nav-mobile" class="sidenav-trigger teal-text"><i class="material-icons">menu</i></a>
        </div>
        <div class="col s11 m3 l2">
          <a id="logo-container" routerLink="/home" class="brand-logo">Coachify</a>
        </div>

        <div class="col s0 m9 l9">
          <ul class="right hide-on-med-and-down valign-wrapper">
            <li *ngIf="authenticationService.isLoggedIn()">
              <a class='dropdown-trigger btn yellow darken-2 black-text' data-target='dropdown-profile-1' href="#" translate [translateParams]="{username: username}">menu.label.logged-in<i class="material-icons left">face</i></a>
              <ul id="dropdown-profile-1" class='dropdown-content'>
                <li><a class="waves-light red lighten-2 white-text" routerLink="/home" *ngIf="authenticationService.isLoggedIn()" (click)="logout()" translate>menu.button.log-out<i class="material-icons">power_settings_new</i></a></li>
              </ul>
            </li>
            <li><a class="waves-light yellow darken-2 btn black-text" href="/login" *ngIf="!authenticationService.isLoggedIn()" translate>menu.button.sign-in<i class="material-icons right">person</i></a></li>
            <li><a class="waves-effect waves-light teal lighten-3 btn black-text" routerLink="/register">Register</a></li>
          </ul>
        </div>

        <ul id="nav-mobile" class="left sidenav">
          <li *ngIf="authenticationService.isLoggedIn()"><a class='dropdown-trigger waves-light yellow darken-2 btn black-text' data-target='dropdown-profile' href="#" translate [translateParams]="{username: username}">menu.label.logged-in</a>
            <ul id="dropdown-profile" class='dropdown-content'>
              <li><a class="waves-light red lighten-2 white-text" routerLink="/home" *ngIf="authenticationService.isLoggedIn()" (click)="logout()" translate>menu.button.log-out<i class="material-icons white-text left">power_settings_new</i></a></li>
            </ul>
          </li>
          <li><a class="waves-light yellow darken-2 btn black-text" routerLink="/login" *ngIf="!authenticationService.isLoggedIn()" translate>menu.button.sign-in<i class="material-icons right">person</i></a></li>
          <li><a class="waves-effect waves-light teal lighten-3 btn black-text" routerLink="/register">Register</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
