<main>

  <div class="row">

    <div class="col s12 m2">
      <div class="content-container">
        <h6>My Profile</h6>
        <div class="collection">
          <a href="#!" class="collection-item grey-text text-darken-2">Profile Information</a>
          <a href="#!" class="collection-item grey-text text-darken-2">Coaching sessions</a>
          <a href="/become-a-coach" class="collection-item black-text active yellow darken-2">Apply to become a coach</a>
        </div>
      </div>
    </div>

    <div class="col s12 m10">
      <div class="content-container">

        <section class="card-panel grey lighten-5">
          <h5>Apply to become a coach</h5>
          <div class="divider"></div>
          <div class="row">
            <div class="col l2 m2 s12">
              <img src="../../assets/images/under_construction.png" class="responsive-img"
                   alt="Under Construction">
            </div>
            <div class="col l10 m10 s12">
              <p class="grey-text text-darken-3">This part of the application is currently still under
                construction. In order to become a coach please send an email to your administrator with
                the following information:
              </p>
              <ul>
                <li>Your full name</li>
                <li>Your motivation to become a coach</li>
                <li>The list of topics (topic + grade) on which you would like to coach</li>
              </ul>

              <div class="row right-align">
                <a class="waves-effect waves-light yellow darken-2 btn-large black-text" [href]="emailString">Send Email <i
                  class="material-icons right">send</i></a>

              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>

</main>
