<main>
  <div id="index-banner">
    <div class="section no-pad-bot parallax-container">
      <div class="container">
        <h2 class="header center teal-text lighten-3"><i class="extra-large material-icons">people</i></h2>
      </div>
      <div class="parallax"><img src="assets/images/background1.jpg" alt="Final-project-skeleton"></div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col s12 m12">
        <h1 class="center teal-text lighten-3" style="font-family:gentium">Final-project-skeleton</h1>

        <p class="center light flow-text">Final-project-skeleton is a simple setup to get your final project
          going.</p>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="black-text">It is action that creates motivation<i
            class="material-icons">format_quote</i></h5>
          <h6 class="light black-text"><i>Steve Backley</i></h6>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/images/background2.jpg" alt="Final-project-skeleton"></div>
  </div>
</main>
