<main>
  <div class="container">

    <div class="row">
      <div class="col s12 m12">


        <h1 class="center teal-text lighten-3">Register</h1>
        <div class="content-container-with-padding z-depth-4">

          <div class="row">
            <form class="col s12" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="input-field col s6">
                  <input id="first_name" type="text" formControlName="firstName" required
                         minlength="2">
                  <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger"style="color:red;">
                    <div *ngIf="firstName.errors.required">first name is required</div>
                    <div *ngIf="firstName.errors.minLength">first name must be at least two characters long</div>
                  </div>
                  <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                  <input id="last_name" type="text" formControlName="lastName" required minlength="2">
                  <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger" style="color:red;">
                    <div *ngIf="lastName.errors.required">last name is required</div>
                    <div *ngIf="lastName.errors.minLength">last name must be at least two characters long</div>
                  </div>
                  <label for="last_name">Last Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" formControlName="email" required email style="color:red;">
                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf="email.errors.required">email is required</div>
                    <div *ngIf="email.errors.email"> This is not a valid email address</div>
                  </div>
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" formControlName="password" required pattern="(?=.*[0-9])(?=.*[A-Z])(?=\S+$).{8,}">
                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger" style="color:red;">
                    <div *ngIf="password.errors.required">password is required</div>
                    <div *ngIf="password.errors.minLength">The password must be at least 8 characters long</div>
                    <div *ngIf="password.errors.pattern">The password must have an uppercase, a lowercase and a number.</div>
                  </div>
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="passwordVerification" type="password" required formControlName="passwordVerification" oninput="check(this)" style="color:red;">
<!--                  <script language='javascript' type='text/javascript'>-->
<!--                    function check(input) {-->
<!--                      if (input.value !== document.getElementById('password').value) {-->
<!--                        document.getElementById('passwordVerification').addClass("invalid");-->
<!--                        //el.classList.add('invalid');-->
<!--                        //input.setCustomValidity('Password Must be Matching.');-->
<!--                      } else {-->
<!--                        // input is valid &#45;&#45; reset the error message-->
<!--                        //input.setCustomValidity('');-->
<!--                      }-->
<!--                    }-->
<!--                  </script>-->
                  <div *ngIf="(passwordVerification.touched || passwordVerification.dirty) && passwordVerification.invalid" class="alert alert-danger" style="color:red;">
                    <div *ngIf="passwordVerification.errors.required">Password is required.</div>
                    <div *ngIf="passwordVerification.errors.confirmedValidator">Password and Confirm Password must match.</div>
                  </div>

                  <label for="passwordVerification">Password (again)</label>
                </div>
              </div>

              <div class="row right-align">
                <button class="waves-effect waves-light yellow darken-2 btn-large black-text" type="submit"  [disabled]="registerForm.invalid">Register<i
                  class="material-icons right">send</i></button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

  </div>
</main>


<!--input:not([type]).validate + label,-->
<!--input[type=text]:not(.browser-default).validate + label,-->
<!--input[type=password]:not(.browser-default).validate + label,-->
<!--input[type=email]:not(.browser-default).validate + label,-->
<!--input[type=url]:not(.browser-default).validate + label,-->
<!--input[type=time]:not(.browser-default).validate + label,-->
<!--input[type=date]:not(.browser-default).validate + label,-->
<!--input[type=datetime]:not(.browser-default).validate + label,-->
<!--input[type=datetime-local]:not(.browser-default).validate + label,-->
<!--input[type=tel]:not(.browser-default).validate + label,-->
<!--input[type=number]:not(.browser-default).validate + label,-->
<!--input[type=search]:not(.browser-default).validate + label,-->
<!--textarea.materialize-textarea.validate + label {-->
<!--width: 100%;-->
<!--}-->
